---
const pageTitle = "About";

const identity = {
  firstName: "Josep",
  country: "El Salvador",
  occupation: "Developer",
  hobbies: ["Futbol", "Music", "Games"],
};
const skills = ["Java", "JavaScript", "React", "PHP"];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
      </nav>
    </header>
    <h1>{pageTitle}</h1>
    <h2>¡Blog para el tutoral de Astro!</h2>
    <p>Practicando los aspectos basicos de Astro con un tutorial de un Blog</p>
    <footer>
      <p>He aqui algunos datos sobre mí:</p>
      <ul>
        <li>Me llamo {identity.firstName}.</li>
        <li>
          Vivo en {identity.country} y trabajo como {identity.occupation}.
        </li>
        {
          identity.hobbies.length >= 2 && (
            <li>
              Dos de mis aficiones son: {identity.hobbies[0]} y
              {identity.hobbies[1]}
            </li>
          )
        }
      </ul>
      <p>Mis habilidades son:</p>
      <ul>
        {skills.map((skill) => <li>{skill}</li>)}
      </ul>
      {happy && <p>¡Estoy feliz!</p>}
      {finished && <p>¡He terminado este tutorial!</p>}
      {
        goal === 3 ? (
          <p>Mi objetivo es terminar en 3 dias</p>
        ) : (
          <p>Mi objetivo no son 3 dias</p>
        )
      }
    </footer>
  </body>
</html>
